@media (max-width: 1024px) {
    h1 {
        color: red;
    }
}





body {
    background-color: orange;
}

.mobile, .tablet, .pc {
    margin: auto;
    font-size: 100px;
    color: #fff;
    display: none;
}

/* Mobile: width: < 740px*/
@media screen and (max-width: 46.1875em) {
    .mobile {
        display: block;
    }
}

/* Tablet: width >= 740px and < 1024px*/
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .tablet {
        display: block;
    }
}